.about {
    padding-top: 140px;
    position: relative;

    &__body {
        display: flex;

        @media screen and(max-width: 930px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__img-wrapper {
        width: 100%;
        max-width: 565px;
        position: relative;
        &:after {
            content: "About";
            position: absolute;
            top: -35px;
            right: -50px;
            font-style: italic;
            font-weight: bold;
            font-size: 48px;
            line-height: 64px;
            color: #F50A4D;
            z-index: 5;

            @media screen and(max-width: 930px) {
                left: 0;
            }
        }
    }

    &__img {
        width: 100%;
        max-width: 565px;
        height: auto;
        position: relative;

        @media screen and(max-width: 930px) {
            margin-bottom: 35px;
        }
    }

    &__text-on-img {
        position: absolute;
        bottom: 0;
        left: 25px;
        transform: translateY(-50%);
    }


    &__text {
        width: 100%;
        max-width: 345px;
        margin-left: 115px;

        
        @media screen and(max-width: 930px) {
            margin-left: 0;
        }
    }

    &__paragraph {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #4F4F4F;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.text-on-img {

    // .text-on-img__list

    &__list {
    }

    // .text-on-img__item

    &__item {
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #F2F2F2;
    }
}